BOT_TOKEN=
RUN_MODE=webhook
WEBHOOK_BASE_URL=https://cl.khixang.dpdns.org
WEBHOOK_PATH=/telegram/webhook
WEBHOOK_HOST=0.0.0.0
WEBHOOK_PORT=8989
WEBHOOK_SECRET_TOKEN=
SUPER_ADMIN_ID=
ADMIN_IDS=
ALLOWED_CHAT_ID=
ALLOWED_THREAD_ID=
REDIS_PASSWORD=
